body{
    background-color:#f2f2f2;
    height: 100%;
}
.row1{
    background-color: #2aa094;
    height: 50px;
}
.pb60{
    padding-bottom: 60px;
}
.zi{
    line-height: 50px;
}
.lianjie{
    float: right;
}
.radio{
    margin: 5px;
}
.icon {
    width: 40px;
    height: 40px;
    vertical-align: 0em;
    fill: currentColor;
    overflow: hidden;
    line-height: 46px;
}
.icon-icon-test{
    margin-top: 80px;
}
#icon-tianjia path {
    fill: #fade62;
}
#icon-faxian path {
    fill: #209cdd;
}
#icon-tubiaozhizuomoban path {
    fill: black;
}
#icon-fenxianglicaichengjiu path {
    fill:  black;
}
#icon-wo path {
    fill:  black;
}
.icon-tianjia{
    width: 40px;
    height: 40px;;
}

@media(min-width: 62em){
    .fixdibu{
        display: none;
    }
    .phonetop{
        display: none;
    }
}
.fixdibu{
    background-color: white;
    height: 46px;
}
.div5{
    width: 19.9%;
    float: left;
}
.morecon{
    cursor:pointer;
    color: black;
    float: right;
    margin-top: -20px;
    background-color: #e1f5f1;
}
.content .text{
    overflow: hidden;
}